.freecodecamp-logo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.freecodecamp-logo{
    height: 150px;
    border-radius: 50px;
    box-shadow: 1px 3px 8px 0px white;
}